<!DOCTYPE html>
<html>
<head>
    <title>首页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <p>
        欢迎，<%=session.name %>,<a href="/out">注销登录</a>
    </p>
</body>
</html>